.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn__Container{
  width: 30%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.btn__Numbers{
  width: 100%;
}

.btn__Operator{
  display: flex;
  flex-direction: column;
}

button{
  width: 100px;
  height: 50px;
}


